.drag-container {
    position: absolute;
    z-index: 9;
    background-color: transparent;
    text-align: center;
    resize: none;
    outline: none;
    overflow: hidden;

    &:hover {
        outline: 1px dashed #78909C;
        resize: both;
    }

    &.dragging {
        outline: 1px dashed #78909C;
        resize: both;
    }

    > .drag-handle {
        padding: 10px;
        cursor: move;
        z-index: 10;
        background-color: transparent;
        position: absolute;
        top: 0px; left: 0px; bottom: 15px; right: 15px;

        &[data-can_drag="false"] {
            display: none;
        }
    }

    > .content {
        width: 100%;
        height: 100%;
    }
}
